$background__table: black;
$font__color__tittle: white;
$font__color_text: black;
$font__type__tittle: bold;
$font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    